{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}
{% block title %}
    Scheduled Events
{% endblock %}

{%  block midPanel %}


    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="position: fixed;bottom: 200px;right: 500px;">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Failed to add to the database </h2>
        </div>
        <div class="mdl-card__supporting-text" style="text-align: center">
            Failed to add
        </div>

        <div class="content-grid mdl-grid">
            <div class="mdl-cell mdl-cell--8-col">
                <a href="/schedule/AddScheduledEvent">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" >
                        Try again
                    </button>
                </a>
            </div>
            <div class=" mdl-cell mdl-cell--4-col">
                <a href="/schedule/view">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                        Return
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}