<html>
<head>
    The schedule
</head>
<body>

<table style="width:100%">
    <tr>
        <td>Sport</td>
        <td>Location</td>
        <td>From</td>
        <td>To</td>
    </tr>

</table>

</body>

</html>