<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sport/js/LoadDataGym.js') }}"></script>
    <script type="javascript">
        jQuery.noConflict();
    </script>
    <script>
        $(document).ready(function () {
                    readyness();
                }
        );
    </script>
    <style>
        .pure-table tr td {
            width: 100px;
            text-align: center;
        }

        .pure-table thead {
            width: 100px;
        }
    </style>
</head>
<body>

<p>
    This is a para
</p>

<button id="gymButton" onclick="window.location.href = '/sport/Gym';">Gym Schedule</button>
<button id="GroundButton" onclick="getScheduleData()">Ground Schedule</button>
<button id="LocationAButton" onclick="getScheduleData()">Location A</button>
<button id="LocationAButton" onclick="getScheduleData()">Location B</button>
<button id="LocationAButton" onclick="getScheduleData()">Location C</button>
</body>

</html>