<html>
<head>
</head>
<body>
<table>
    <thead>
    <th scope="col" align="left">Sport</th>
    <th scope="col" align="left">Venue</th>
    <th scope="col" align="left">From</th>
    <th scope="col" align="left">To</th>
    </thead>


    <tr align="left">
        <td>Obi Wan Kenobi</td>
        <td>Light</td>
        <td>Jedi</td>
    </tr>
    <tr>
        <td>Greedo</td>
        <td>South</td>
        <td>Scumbag</td>
    </tr>
</table>
</body>

</html>