{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}

{% block title %} Success Message {% endblock %} 

{% block midPanel %}
<div class="container">
    Record added successfully
</div>


{% endblock %}