<!doctype HTML>
<HTML>
<head>
</head>
<body bgcolor="#E6E6FA">
<h1 align="center"> Add Equipment </h1>
<form action="/add" method ="post"  >
Supplier ID:<br>
<input type="text" name="supplier_id" >
<br>
Quantity:<br>
<input type="number" name="quantity" min="1" max="1000" >
<br>
resource_id:<br>
<input type="text" name="resource_id" value={{ s }} readonly >
<br>
Equipment Type:<br>
<select id="select" name="equipment_type" style="width: 115px;">
<option value="Cricket Ball" title="Cricket Ball">Cricket Ball</option>
<option value="Cricket Bat" title="Cricket Bat">Cricket Bat</option>
<option value="Basket Ball" title="Basket Ball">Basket Ball</option>
</select>
<br>
Date:<br>
<input type="date" name="Date">
<br><br><br>
<input type="submit">

</form>
</body>
</HTML>