<!doctype HTML>
<HTML>
<head>
</head>
<body bgcolor="#E6E6FA">
<h1 align="center"> Add New Equipment </h1>
<form action="/addNew" method ="post"  >
    Supplier ID:<br>
    <input type="text" name="supplier_id" >
    <br>

    Quantity:<br>
    <input type="number" name="quantity" min="1" max="1000" >
    <br>

    Resource ID:<br>
    <input type="text" name="resource_id"  value="00{{ new_id }}"+ readonly >
    <br>


    Resource Name:<br>
    <input type="text" name="equipmentName" >
    <br>


    <br>
    Date:<br>
    <input type="date" name="Date">
    <br><br><br>
    <input type="submit">

</form>
</body>
</HTML>