{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}
{% block styleCodeBlocks %}
    #top_row{
    max-width: 1250px;
    padding-left: 50px;
    padding-top: 80px;
    }
    a.mdl-button--colored {
    font-family: topheader;
    font-weight: bold;
    }
    .header-edit {
    margin-top: -9px;
    position: fixed;
    }
    .demo-card-wide.mdl-card {
    width: 350px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: left;
    }
    .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 76px;

    }
{% endblock %}
{% block title %}
    Student Home
{% endblock %}
{%  block midPanel %}
    <div id="top_row" class="content-grid mdl-grid">

        <div class="mdl-cell">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">

                <div id="NewGymSchdule" class="mdl-card__title" >
                    <h2 class="mdl-card__title-text">Request resource</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Make request the Moraspirit Resource Management System
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/studentRequest">
                        Request
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div id="OldGym" class="mdl-card__title">
                    <h2 class="mdl-card__title-text">View Sport Schedule</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    View Sport Schedule from the Moraspirit Resource Management System
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/schedule/view">
                        View
                    </a>
                </div>
            </div>
        </div>

        <div class="mdl-cell">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div id="MainGround" class="mdl-card__title">
                    <h2 class="mdl-card__title-text">View Equipment</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    View the entire equipment archive in Moraspirit Resource Management System.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/viewAllEquipments">
                        View
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-grid mdl-grid" style="max-width: 1250px; padding-left: 50px;">
        <div class="mdl-cell">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div id="MainGround" class="mdl-card__title">
                    <h2 class="mdl-card__title-text">View Student Achievements</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    View Student Achievements from the Moraspirit Resource Management System
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="ViewAchievements">
                        View
                    </a>
                </div>
            </div>
        </div>
        <div class="mdl-cell">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div id="OldGym" class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Upcoming Events</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    Upcoming Eventsfrom Moraspirit Resource Management System.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        View
                    </a>
                </div>
            </div>
        </div>

        <div class="mdl-cell">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div id="MainGround" class="mdl-card__title" >
                    <h2 class="mdl-card__title-text">News Letter</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    View updates of Moraspirit Resource Management System.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        View
                    </a>
                </div>
            </div>
        </div>
    </div>
    {#<div class="content-grid mdl-grid" style="max-width: 1250px; padding-left: 50px;">#}
        {#<div class="mdl-cell">#}
            {#<div class="demo-card-wide mdl-card mdl-shadow--2dp">#}
                {#<div id="MainGround" class="mdl-card__title">#}
                    {#<h2 class="mdl-card__title-text">Manage Sport Schedule</h2>#}
                {#</div>#}
                {#<div class="mdl-card__supporting-text">#}
                    {#Manage incoming scheduling events in Moraspirit Resource Management System#}
                {#</div>#}
                {#<div class="mdl-card__actions mdl-card--border">#}
                    {#<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">#}
                        {#Manage#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="mdl-cell">#}
            {#<div class="demo-card-wide mdl-card mdl-shadow--2dp">#}
                {#<div id="OldGym" class="mdl-card__title">#}
                    {#<h2 class="mdl-card__title-text">View Sport Schedule</h2>#}
                {#</div>#}
                {#<div class="mdl-card__supporting-text">#}
                    {#View sports schedule of the university.#}
                {#</div>#}
                {#<div class="mdl-card__actions mdl-card--border">#}
                    {#<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/schedule/view">#}
                        {#View#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="mdl-cell">#}
            {#<div class="demo-card-wide mdl-card mdl-shadow--2dp">#}
                {#<div id="MainGround" class="mdl-card__title" >#}
                    {#<h2 class="mdl-card__title-text">View Equipment</h2>#}
                {#</div>#}
                {#<div class="mdl-card__supporting-text">#}
                    {#View the entire equipment archive in Moraspirit Resource Management System.#}
                {#</div>#}
                {#<div class="mdl-card__actions mdl-card--border">#}
                    {#<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">#}
                        {#View Schedule#}
                    {#</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}