{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}

{% block title %} Add Coach {% endblock %}

{% block midPanel %}
<style>
        .form {
            background-color: aqua;
            border: dashed;
            width: 30%;
            align-self: center;
        }
    </style>


<script>
    var choices = ["one", "two"];

    function addInput(divName) {
        var newDiv = document.createElement('div');
        var selectHTML = "";
        selectHTML = "<select>";
        for (i = 0; i < choices.length; i = i + 1) {
            selectHTML += "<option value='" + choices[i] + "'>" + choices[i] + "</option>";
        }
        selectHTML += "</select>";
        newDiv.innerHTML = selectHTML;
        document.getElementById(divName).appendChild(newDiv);
    }
</script>

<div class="container">
        <h1>Add New Coach</h1>
        <form action="/saveCoach" method ="post" >


            <div class="form-group">                
                <input type="text" name="coachname">
                <label for="coachname" class="control-label">Coach Name</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="text" name="coachid" required="required">
                <label for="coachid" class="control-label">Coach ID</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="text" name="sportid" required="required">
                <label for="sportid" class="control-label">Sport ID</label><i class="bar"></i>
                
                <select name="sportid" id="combo">
                    
                </select>
            </div>


            <button type="submit" class="button"><span>Submit</span></button>

        </form>

    </div>


{% endblock %}