<html>
    <head>
    </head>
    <body>
        <form action="/sport/save" method="post">
            Sport name:<br>
            <input type="text" name="sportname">
            <br>
            SportId:<br>
            <input type="text" name="sportid">
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>
