<form action="/sport/save" method="post">
    Sport name:<br>
    <input type="text" name="sportname">
    <br>
    SportId:<br>
    <input type="txt" name="sportid">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>

