{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}

{% block title %} Add Sport {% endblock %} 

{% block midPanel %}

<div class="container">
        <h1>Add Sport</h1>
        <form action="/sport/save" method="post" >


            <div class="form-group">                
                <input type="text" name="sportname" required="required">
                <label for="sportname" class="control-label">Sport Name</label><i class="bar"></i>
            </div>
            <div class="form-group">
                <input type="text" name="sportid" required="required">
                <label for="sportid" class="control-label">Sport ID</label><i class="bar"></i>
            </div>

            <button type="submit" class="button"><span>Submit</span></button>

        </form>

</div>



{% endblock %}
