<form action="/equipment/add" method="post">
    Location Name:<br>
    <input type="text" name="locationName">
    <br>
    Session Limit:<br>
    <input type="text" name="sessionlimit">
    <br>
    Location Type:<br>
    <input type="text" name="locationtype">
    <br>
    Resource ID:<br>
    <input type="text" name="resource_id" value={{ s }} readonly >
    <br>
    Supplier ID:<br>
    <input type="text" name="supplier_id">
    <br>
    <br>
    <input type="submit" value="Submit">
</form>


