<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HTML Form</title>

    <style type="text/css">

        * { margin: 0; padding: 0; }

        html { height: 100%; font-size: 62.5% }

        body { height: 100%; background-color: #FFFFFF; font: 1.2em Verdana, Arial, Helvetica, sans-serif; }


        /* ==================== Form style sheet ==================== */

        table.form { margin: 25px 0 0 29px; border-collapse: collapse; }

        table.form th, table.form td { padding: 10px 5px; text-align: left; font-weight: normal; }

        table.form label { font-family: Verdana, Arial, Helvetica, sans-serif; color: #181818; margin-right: 12px; }
        table.form td span { font-size: 0.9em; color: #181818; margin-left: 8px; }
        table.form td samp { font: 1em Verdana, Arial, Helvetica, sans-serif; color: #000000; }

        table.form input { width: 340px; }
        table.form input.answer { width: 53px; }
        table.form textarea { width: 400px; height: 160px; }

        table.form input.inp-text, table.form input.answer, table.form textarea
        { border: 1px solid #909090; padding: 2px; }

        table.form th.message-up { vertical-align: top !important; }



        table.form td.submit-button-right { text-align: right !important; }
        table.form input.submit-text { font: 1.4em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; width: auto; }

        table.form label.email { border-bottom: 1px dotted #000000; }

        /* ==================== Form style sheet END ==================== */

    </style>
</head>


<body >
<div >
    <form action="/AddAchievementStudents" method="post" align="center" >
        <h1>Add Achievement form</h1>
        <table class="form" id="table1" bgcolor="#db7093">
                    <br><br><br>
                Sport:</strong></label><br>

                <select name="Sport" id="Sport" class="sport">

                    <% {% for x in sport %}

                    <option value={{  x. getSportId() }}>{{ x.getName() }}</option>
                    {% endfor %}%>

                </select>

                <br><br><br><br>

                <Label>Achievement ID:</label><br>
                <input class="inp-text" name="achievement_id"  type="text" size="30" />
                    <br><br><br><br>
                <Label>Description:<br>
                <input class="inp-text" name="description"  type="text" size="30" />

                <br><br><br><br>


                <Label>Achievement Date:</label><br>
                <input class="inp-text" name="date"  type="text" size="30" />


                <br><br><br>
                    <Label>Number of Students</label><br>
                    <input class="inp-text" name="number_of_students"  type="number" size="30"  min="1" max="100"/>
                    <br><br><br><br>

                    <input type="submit">

        </table>

    </form>
</div>

</body>



</html>
