{% extends 'applicationMainBundle:Default:maintemplate.html.twig' %}


{% block midPanel %}

    <div class="container">
        <form action="/AddAchievementStudents" method="post" align="center">
            <h1>Add Achievement form</h1>
            <table class="form" id="table1" bgcolor="#db7093">


                <div class="form-group">
                    <input class="inp-text" name="achievement_id" type="text" size="30"/>
                    <Label class="control-label">Achievement ID:</label><i class="bar"></i>

                </div>

                <div class="form-group">

                    <select name="Sport" id="Sport" class="browser-default">

                        <% {% for x in sport %}

                        <option value={{ x. getSportId() }}>{{ x.getName() }}</option>
                        {% endfor %}%>

                    </select>
                    <Label class="control-label">Sport:</label><br><i class="bar"></i>
                </div>


                <div class="form-group">
                    <input class="inp-text" name="description" type="text" size="30"/>
                    <Label class="control-label">Description:</label><i class="bar"></i>
                </div>


                <div class="form-group">
                    <input class="inp-text" name="date" type="date" size="30"/>
                    <Label class="control-label">Achievement Date:</label><i class="bar"></i>
                </div>

                <div class="form-group">
                    <input class="inp-text" name="number_of_students" type="number" size="30" min="1" max="100"/>
                    <Label class="control-label">Number of Students</label><i class="bar"></i>
                </div>

                <div class="form-group">
                    <button type="submit" class="button"><span>Submit</span></button>

                </div>

            </table>

        </form>
    </div>


{% endblock %}