<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HTML Form</title>


    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/applicationstudent/css/studentStyle.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/applicationstudent/js/javascript.js') }}"></script>

    <script type="javascript">

        jQuery.noConflict();


    </script>
</head>


<body>
    <div>
	<form  id="formid" onsubmit="return false">
        <h1>Add Sports involving details of students</h1>
		<table class="form" id="table1">
			<tr>
				<th><label for="id"><strong>Student ID:</strong></label></th>
				<td><input class="inp-text" name="student_id" id="studentID" type="text" size="30" onkeypress="getStudentDetails(event)"/></td>

			</tr>

            <tr>
				<th><label for="name"><strong>Name:</strong></label></th>
				<td><input class="inp-text" name="name" id="name" type="text" size="30" /></td>
			</tr>

            <tr>
				<th><label for="batch"><strong>Batch:</strong></label></th>
				<td><input class="inp-text" name="batch" id="batch" type="text" size="30" /></td>
			</tr>
            
            <tr>
				<th><label for="faculty"><strong>Faculty:</strong></label></th>
				<td><input class="inp-text" name="faculty" id="faculty" type="text" size="30" /></td>
			</tr>
            
            <tr>
				<th><label for="batch"><strong>Sport:</strong></label></th>
				<td>
                    <select name="sport">
                        <option value="cricket">cricket</option>
                        <option value="football">football</option>
                        
                    </select>
                    <button id="but">sdd</button>
                </td>
			</tr>
            
            <tr>
				<th><label for="role"><strong>Role:</strong></label></th>
				<td>
                    <select name="sport">
                        <option value="cricket">captain</option>
                        <option value="VCaptain">V-Captain</option>
                        <option value="player">Player</option>
                        <option value="other">Other</option>

                    </select>
                </td>
			</tr>
            
             <tr>
				<th><label for="faculty"><strong>Active:</strong></label></th>
				<td>
                    <label><input type="checkbox"  style="width:30px;" id="cbox1" value="first_checkbox"> currently active</label>
                </td>
			</tr>
           
			
			<tr>
				<td class="submit-button-right" colspan="2">
				<input class="submit-text" type="image" src="img/send-button.gif" value="SEND" alt="SEND" title="Send your message" />
				</td>
			</tr>
		</table>
    
	</form>
        </div>

</body>

<script>
    var a=1;
    function addField() {

        var table = document.getElementById('table1');
        var newRow=table.insertRow(2+a);
        var newCell = newRow.insertCell(0);
        newCell.innerHTML = "<label><strong>  telephone </strong>"+a+"</label>";
        var newCell2 = newRow.insertCell(1);
        newCell2.innerHTML = '<td><input class="inp-text" name="nic" id="nic" type="text" size="30" /></td>';
        var newCell3=newRow.insertCell(2);
        newCell3.innerHTML='<td><button type="button" name="delButton" id="addButton'+a+'" onclick="deleteField()" size="30">Del</button></td>';
        a=a+1;
    }

    function deleteField(){
        var table = document.getElementById('table1');
        table.deleteRow(a);
    }



</script>

</html>
